In [447]:
#File by Dylan Steinecke ft. Stack Overflow and Sarah Madsen

In [425]:
import pandas as pd
import numpy as np

## Place Pop: Neighborhood Demographics Data

In [426]:
hoodDemoDF = pd.read_csv(r'C:\Users\dylan\Downloads\neighborhood_data_latimes.csv', encoding = "ISO-8859-1")
#hoodDemoDF = YOU CAN WRITE YOUR PATH HERE AND COMMENT OUT MINE AND VICE VERSA. Copy my format, add an r before the path.`

In [427]:
hoodDemoDF

,Neighborhood,MEDIAN_AGE,AGE_65_AND_UP,AGE_50_TO_64,AGE_35_TO_49,AGE_19_TO_34,AGE_11_TO_18,AGE_10_OR_LESS,FOREIGN_BORN_POPULATION,SQUARE_MILES,...,NEVER_MARRIED_FEMALES,MARRIED_MALES,MARRIED_FEMALES,WIDOWED_MALES,WIDOWED_FEMALES,DIVORCED_MALES,DIVORCED_FEMALES,VETERANS,POPULATION_TOTAL,POPULATION_PER_SQMI
0,Veterans Administration,48,0.185,0.282,0.329,0.111,0.030,0.063,0.104,0.9,...,0.270,0.464,0.365,0.054,0.000,0.263,0.365,0.822,622,NaN
1,Rolling Hills,46,0.204,0.236,0.232,0.074,0.127,0.128,0.176,3.6,...,0.158,0.743,0.730,0.027,0.060,0.034,0.052,0.000,3218,NaN
2,Palos Verdes Estates,46,0.201,0.240,0.231,0.082,0.113,0.133,0.190,4.7,...,0.136,0.765,0.728,0.017,0.085,0.037,0.051,0.000,13340,NaN
3,Bel-Air,46,0.209,0.228,0.243,0.124,0.074,0.122,0.241,6.4,...,0.154,0.660,0.657,0.022,0.119,0.082,0.070,0.000,7691,NaN
4,Bradbury,46,0.248,0.191,0.240,0.091,0.105,0.126,0.229,1.9,...,0.194,0.679,0.574,0.039,0.117,0.069,0.114,0.000,1268,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Central-Alameda,22,0.044,0.066,0.176,0.298,0.158,0.258,0.527,2.2,...,0.362,0.519,0.535,0.019,0.057,0.036,0.046,0.000,40947,NaN
261,Florence-Firestone,22,0.049,0.073,0.183,0.276,0.156,0.262,0.455,3.6,...,0.372,0.504,0.499,0.022,0.074,0.035,0.055,0.000,60154,NaN
262,Bell Gardens,22,0.040,0.075,0.185,0.287,0.152,0.261,0.504,2.5,...,0.350,0.529,0.531,0.014,0.057,0.038,0.062,0.000,44054,NaN
263,Vernon,21,0.032,0.106,0.160,0.255,0.213,0.234,0.096,5.2,...,0.314,0.920,0.686,0.000,0.000,0.000,0.000,0.038,94,NaN
264,Watts,21,0.052,0.072,0.174,0.246,0.174,0.282,0.340,2.1,...,0.453,0.464,0.402,0.034,0.087,0.055,0.057,0.000,36815,NaN

In [428]:
#Makes a dataframe from the age columns from the LA Times neighborhood data
neighborhoodAgesDF = hoodDemoDF[['Neighborhood','AGE_10_OR_LESS', 'AGE_11_TO_18','AGE_19_TO_34','AGE_35_TO_49','AGE_50_TO_64','AGE_65_AND_UP','POPULATION_TOTAL']].loc[1:len(hoodDemoDF)]

In [429]:
neighborhoodAgesDF

,Neighborhood,AGE_10_OR_LESS,AGE_11_TO_18,AGE_19_TO_34,AGE_35_TO_49,AGE_50_TO_64,AGE_65_AND_UP,POPULATION_TOTAL
1,Rolling Hills,0.128,0.127,0.074,0.232,0.236,0.204,3218
2,Palos Verdes Estates,0.133,0.113,0.082,0.231,0.240,0.201,13340
3,Bel-Air,0.122,0.074,0.124,0.243,0.228,0.209,7691
4,Bradbury,0.126,0.105,0.091,0.240,0.191,0.248,1268
5,Century City,0.085,0.038,0.206,0.226,0.181,0.264,5513
...,...,...,...,...,...,...,...,...
260,Central-Alameda,0.258,0.158,0.298,0.176,0.066,0.044,40947
261,Florence-Firestone,0.262,0.156,0.276,0.183,0.073,0.049,60154
262,Bell Gardens,0.261,0.152,0.287,0.185,0.075,0.040,44054
263,Vernon,0.234,0.213,0.255,0.160,0.106,0.032,94
264,Watts,0.282,0.174,0.246,0.174,0.072,0.052,36815

In [430]:
#Combines age columns to make them cohere with the LA County data
nbhdAgesDF = pd.DataFrame()
nbhdAgesDF['NEIGHBORHOOD'] = neighborhoodAgesDF['Neighborhood']
nbhdAgesDF['AGE_18_OR_LESS'] = neighborhoodAgesDF['AGE_10_OR_LESS'] + neighborhoodAgesDF['AGE_11_TO_18']
nbhdAgesDF['AGE_19_TO_49'] = neighborhoodAgesDF['AGE_19_TO_34'] + neighborhoodAgesDF['AGE_35_TO_49']
nbhdAgesDF['AGE_50_TO_64'] = neighborhoodAgesDF['AGE_50_TO_64']
nbhdAgesDF['AGE_65_AND_UP'] = neighborhoodAgesDF['AGE_65_AND_UP']
nbhdAgesDF['POPULATION_TOTAL'] = neighborhoodAgesDF['POPULATION_TOTAL']
nbhdAgesDF['SUM_SHOULD_BE_1'] = nbhdAgesDF['AGE_18_OR_LESS'] + nbhdAgesDF['AGE_19_TO_49'] + nbhdAgesDF['AGE_50_TO_64'] + nbhdAgesDF['AGE_65_AND_UP']
#nbhdAges['TOTAL PERCENT'] = nbhdAges[['AGE 18 OR LESS','AGE 19 TO 49','AGE 50 TO 64', 'AGE 65 AND UP']].sum()
nbhdAgesDF

,NEIGHBORHOOD,AGE_18_OR_LESS,AGE_19_TO_49,AGE_50_TO_64,AGE_65_AND_UP,POPULATION_TOTAL,SUM_SHOULD_BE_1
1,Rolling Hills,0.255,0.306,0.236,0.204,3218,1.001
2,Palos Verdes Estates,0.246,0.313,0.240,0.201,13340,1.000
3,Bel-Air,0.196,0.367,0.228,0.209,7691,1.000
4,Bradbury,0.231,0.331,0.191,0.248,1268,1.001
5,Century City,0.123,0.432,0.181,0.264,5513,1.000
...,...,...,...,...,...,...,...
260,Central-Alameda,0.416,0.474,0.066,0.044,40947,1.000
261,Florence-Firestone,0.418,0.459,0.073,0.049,60154,0.999
262,Bell Gardens,0.413,0.472,0.075,0.040,44054,1.000
263,Vernon,0.447,0.415,0.106,0.032,94,1.000
264,Watts,0.456,0.420,0.072,0.052,36815,1.000

## LAPOP19: LA County Demographic Data

In [431]:
LADemoDF = pd.read_csv(r'C:\Users\dylan\Downloads\LA_County_COVID_Demographics.csv')
#YOU CAN PUT YOUR PATH HERE _________LADemoDF = pd.read_csv(r'PATHNAME')

In [432]:
LAAP = LADemoDF[['PopulationPercent']].loc[0:7]  #Defining the countywide population breakdown as a variable for readability purposes

LA_AgePercents = pd.DataFrame()
LA_AgePercents['AgeCategories'] = LADemoDF['Characteristic']
LA_AgePercents['UnadjustedPopulationPercent'] = LAAP

#Adds enough to each category to make the column sum to 1
LA_AgePercents['AdjustedPopulationPercent'] = LAAP + (1-LAAP.sum())/len(LAAP) 
print("Sum of percents (should be 1): ", LA_AgePercents['AdjustedPopulationPercent'].sum())
LA_AgePercents

Sum of percents (should be 1):  1.0

         AgeCategories  UnadjustedPopulationPercent  AdjustedPopulationPercent
0         <5 years old                        0.054                   0.054125
1    5 to 11 years old                        0.088                   0.088125
2   12 to 17 years old                        0.075                   0.075125
3   18 to 29 years old                        0.176                   0.176125
4   30 to 49 years old                        0.282                   0.282125
5   50 to 64 years old                        0.192                   0.192125
6   65 to 79 years old                        0.097                   0.097125
7        80+ years old                        0.035                   0.035125
8      Unknown/Missing                          NaN                        NaN
9                  NaN                          NaN                        NaN
10                 NaN                          NaN                        NaN

In [446]:
#Combines the age categories for the LA County data into comparable categories with the Place data because the Place/neighborhood
#data doesn't have the same categories. Note: LA County's '18 or less' only has 5-17. Otherwise, categories line up
LA_CombinedAgePercents = pd.DataFrame()
LA_CombinedAgePercents['AgeCategories'] = ['AGE_18_OR_LESS','AGE_19_TO_49', 'AGE_50_TO_64', 'AGE_65_AND_UP']
LA_CombinedAgePercents['AdjustedPopulationPercent'] = [(LA_AgePercents['AdjustedPopulationPercent'].loc[0:2]).sum(), (LA_AgePercents['AdjustedPopulationPercent'].loc[3:4]).sum(), (LA_AgePercents['AdjustedPopulationPercent'].loc[5]).sum(), (LA_AgePercents['AdjustedPopulationPercent'].loc[6:7]).sum()]
print('Should be 1: ', (LA_CombinedAgePercents['AdjustedPopulationPercent'].loc[0:3]).sum())
LA_CombinedAgePercents

Should be 1:  1.0

    AgeCategories  AdjustedPopulationPercent
0  AGE_18_OR_LESS                   0.217375
1    AGE_19_TO_49                   0.458250
2    AGE_50_TO_64                   0.192125
3   AGE_65_AND_UP                   0.132250

## LACOVID19: LA County COVID Data

In [434]:
LACOVID19DF = pd.read_csv(r'C:\Users\dylan\Downloads\LAC19DemoData.csv')

In [435]:
LACOVID19DF['%OfTotalCases'] = LACOVID19DF['Cases']/LACOVID19DF['Cases'][0:8].sum()
LACOVID19DF['Age'][9] = "Sum"

C:\Users\dylan\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [436]:
LACOVID19DF

                   Age   Cases  %OfTotalCases
0               0 to 4    5505       0.017920
1              5 to 11   11865       0.038623
2             12 to 17   14645       0.047672
3             18 to 29   76903       0.250334
4             30 to 49  105610       0.343780
5             50 to 64   59141       0.192515
6             65 to 79   23311       0.075882
7              over 80   10222       0.033275
8  Under Investigation    1951       0.006351
9                  Sum  307202       1.000000

In [437]:
combinedLACOVID19DF = pd.DataFrame()
combinedLACOVID19DF['AgeCategories'] = ['18_Or_Less','19_To_49', '50_To_64', '65_And_Up', 'Sum']
combinedLACOVID19DF['%OfTotalCases'] = [(LACOVID19DF['%OfTotalCases'].loc[0:2]).sum(), (LACOVID19DF['%OfTotalCases'].loc[3:4]).sum(), (LACOVID19DF['%OfTotalCases'].loc[5]).sum(), (LACOVID19DF['%OfTotalCases'].loc[6:7]).sum(), (LACOVID19DF['%OfTotalCases'].loc[0:7]).sum()]

combinedLACOVID19DF

  AgeCategories  %OfTotalCases
0    18_Or_Less       0.104215
1      19_To_49       0.594114
2      50_To_64       0.192515
3     65_And_Up       0.109156
4           Sum       1.000000

## Place COVID19: Neighborhood COVID19 Data

In [438]:
hoodCOVID19DF = pd.read_csv(r'C:\Users\dylan\Downloads\neighborhoodCOVID19Data.csv')

In [439]:
hoodCOVID19DF

,place_ID,cumulative_cases_today,adj_case_rate,cumulative_deaths_today,adj_death_rate,cumulative_persons_tested_today,adj_test_rate,cumulative_persons_pos_today,adj_test_pos_rate
0,Agoura Hills,231,1084,6,28,5917.0,27710.0,202.0,948.0
1,Alhambra,1501,1729,34,29,23325.0,26113.0,1472.0,1708.0
2,Arcadia,630,1045,40,45,12021.0,20569.0,544.0,924.0
3,Artesia,432,2464,11,47,5360.0,29077.0,357.0,2060.0
4,Avalon,5,151,0,0,66.0,1689.0,5.0,151.0
...,...,...,...,...,...,...,...,...,...
329,Unincorporated Whittier,77,2031,3,63,836.0,21325.0,71.0,1838.0
330,Unincorporated Whittier Narrows,3,15962,0,0,19.0,85640.0,1.0,4845.0
331,Unincorporated Willowbrook,1639,4767,23,79,11525.0,33585.0,1643.0,4763.0
332,Unincorporated Wiseburn,144,2238,1,21,1691.0,27827.0,138.0,2160.0
333,Unincorporated San Francisquito Canyon Bouquet C,2,182,0,0,NaN,NaN,NaN,NaN

## Cleaning City Names in hoodCOVID19DF

In [440]:
#Removes "City of", "Unincorporated -", and "Los Angeles -" prefixes in hoodCOVID19DF so the place_IDs can match 
#the NEIGHBORHOODS in nbhdAges
city_of = "City of "
unincorporated = "Unincorporated "
LosAngeles = "Los Angeles - "
for i, row in hoodCOVID19DF.iterrows():
    if city_of in row[0]:
        new_name = row[0].replace(city_of, '')
        hoodCOVID19DF.at[i, 'place_ID'] = new_name
    elif unincorporated in row[0]:
        new_name = row[0].replace(unincorporated, '')
        hoodCOVID19DF.at[i, 'place_ID'] = new_name
    elif LosAngeles in row[0]:
        new_name = row[0].replace(LosAngeles, '')
        hoodCOVID19DF.at[i, 'place_ID'] = new_name

hoodCOVID19DF

,place_ID,cumulative_cases_today,adj_case_rate,cumulative_deaths_today,adj_death_rate,cumulative_persons_tested_today,adj_test_rate,cumulative_persons_pos_today,adj_test_pos_rate
0,Agoura Hills,231,1084,6,28,5917.0,27710.0,202.0,948.0
1,Alhambra,1501,1729,34,29,23325.0,26113.0,1472.0,1708.0
2,Arcadia,630,1045,40,45,12021.0,20569.0,544.0,924.0
3,Artesia,432,2464,11,47,5360.0,29077.0,357.0,2060.0
4,Avalon,5,151,0,0,66.0,1689.0,5.0,151.0
...,...,...,...,...,...,...,...,...,...
329,Whittier,77,2031,3,63,836.0,21325.0,71.0,1838.0
330,Whittier Narrows,3,15962,0,0,19.0,85640.0,1.0,4845.0
331,Willowbrook,1639,4767,23,79,11525.0,33585.0,1643.0,4763.0
332,Wiseburn,144,2238,1,21,1691.0,27827.0,138.0,2160.0
333,San Francisquito Canyon Bouquet C,2,182,0,0,NaN,NaN,NaN,NaN

# Data Imputation for Neighborhoods

## Rina's comments

- For variables series "casePrcnt_18OrLess" (or the other ones):
- is "combinedLACOVID19DF['%OfTotalCases'][0] / LA_CombinedAgePercents['AdjustedPopulationPercent'][0]" trying to compute the

In [441]:

##########################################################################################################################
#Declaring variables
totalR = 0
R = []
places = []
pop18OrLess = []
pop19To49 = []
pop50To64 = []
pop65AndUp = []
Totalpopulation = []
casePrcnt_18OrLess = []
casePrcnt_19To49 = []
casePrcnt_50To64 = []
casePrcnt_50To64 = []
casePrcnt_65AndUp = []
sumOfPlaceCase = []

##########################################################################################################################
#Defining some variables for the columns of combinedHoodDF
for i in range(1,len(nbhdAgesDF)+1):
    places.append(nbhdAgesDF['NEIGHBORHOOD'][i])
    Totalpopulation.append(nbhdAgesDF['POPULATION_TOTAL'][i])
    pop18OrLess.append(nbhdAgesDF['AGE_18_OR_LESS'][i])
    pop19To49.append(nbhdAgesDF['AGE_19_TO_49'][i])
    pop50To64.append(nbhdAgesDF['AGE_50_TO_64'][i])
    pop65AndUp.append(nbhdAgesDF['AGE_65_AND_UP'][i])
    totalR += 1

##########################################################################################################################
#Interpolating percent of infections by age categories based on LA County infected percents, LA County demographics, 
#and the Places' demographics
for i in range(0,totalR):
    casePrcnt_18OrLess.append(pop18OrLess[i] * combinedLACOVID19DF['%OfTotalCases'][0] / LA_CombinedAgePercents['AdjustedPopulationPercent'][0])
    casePrcnt_19To49.append(pop19To49[i] * combinedLACOVID19DF['%OfTotalCases'][1] / LA_CombinedAgePercents['AdjustedPopulationPercent'][1])
    casePrcnt_50To64.append(pop50To64[i] * combinedLACOVID19DF['%OfTotalCases'][2] / LA_CombinedAgePercents['AdjustedPopulationPercent'][2])
    casePrcnt_65AndUp.append(pop65AndUp[i] * combinedLACOVID19DF['%OfTotalCases'][3] / LA_CombinedAgePercents['AdjustedPopulationPercent'][3])
    sumOfPlaceCase.append(casePrcnt_18OrLess[i] + casePrcnt_19To49[i] + casePrcnt_50To64[i] + casePrcnt_65AndUp[i]) #Should be 1

##########################################################################################################################
#Printing some results
print(totalR, " places have demographic and COVID19 data")
print(len(hoodCOVID19DF)-totalR, " places only have COVID19 data and not demographic data")
combinedHoodDF = pd.DataFrame({'Place':places, 'TotalPopulation':Totalpopulation, 
                               'pop18OrLess':pop18OrLess, 'pop19To49':pop19To49, 'pop50To64':pop50To64, 'pop65AndUp':pop65AndUp, 
                               'casePrcnt_18OrLess':casePrcnt_18OrLess, 'casePrcnt_19To49':casePrcnt_19To49, 'casePrcnt_50To64':casePrcnt_50To64, 'casePrcnt_65AndUp':casePrcnt_65AndUp, 'sumOfPlaceCasePercents':sumOfPlaceCase})

##########################################################################################################################
#Interpolating the age demographics of the infected cases: combinedHoodDF
for r in range(0,len(combinedHoodDF)):
    combinedHoodDF['casePrcnt_18OrLess'][r] = combinedHoodDF['casePrcnt_18OrLess'][r]/combinedHoodDF['sumOfPlaceCasePercents'][r]
    combinedHoodDF['casePrcnt_19To49'][r] = combinedHoodDF['casePrcnt_19To49'][r]/combinedHoodDF['sumOfPlaceCasePercents'][r]
    combinedHoodDF['casePrcnt_50To64'][r] = combinedHoodDF['casePrcnt_50To64'][r]/combinedHoodDF['sumOfPlaceCasePercents'][r]
    combinedHoodDF['casePrcnt_65AndUp'][r] = combinedHoodDF['casePrcnt_65AndUp'][r]/combinedHoodDF['sumOfPlaceCasePercents'][r]
    combinedHoodDF['sumOfPlaceCasePercents'][r] = combinedHoodDF['casePrcnt_18OrLess'][r] + combinedHoodDF['casePrcnt_19To49'][r] + combinedHoodDF['casePrcnt_50To64'][r] + combinedHoodDF['casePrcnt_65AndUp'][r] #Should be 1
combinedHoodDF

264  places have demographic and COVID19 data
70  places only have COVID19 data and not demographic data

C:\Users\dylan\anaconda3\lib\site-packages\ipykernel_launcher.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dylan\anaconda3\lib\site-packages\ipykernel_launcher.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dylan\anaconda3\lib\site-packages\ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dylan\anaconda3\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dylan\anaconda3\lib\site-packages\ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Place,TotalPopulation,pop18OrLess,pop19To49,pop50To64,pop65AndUp,casePrcnt_18OrLess,casePrcnt_19To49,casePrcnt_50To64,casePrcnt_65AndUp,sumOfPlaceCasePercents
0,Rolling Hills,3218,0.255,0.306,0.236,0.204,0.132332,0.429433,0.255976,0.182259,1.0
1,Palos Verdes Estates,13340,0.246,0.313,0.240,0.201,0.126798,0.436285,0.258553,0.178364,1.0
2,Bel-Air,7691,0.196,0.367,0.228,0.209,0.096799,0.490150,0.235348,0.177703,1.0
3,Bradbury,1268,0.231,0.331,0.191,0.248,0.118324,0.458496,0.204482,0.218698,1.0
4,Century City,5513,0.123,0.432,0.181,0.264,0.057908,0.550006,0.178105,0.213980,1.0
...,...,...,...,...,...,...,...,...,...,...,...
259,Central-Alameda,40947,0.416,0.474,0.066,0.044,0.217629,0.670577,0.072165,0.039629,1.0
260,Florence-Firestone,60154,0.418,0.459,0.073,0.049,0.220443,0.654605,0.080464,0.044489,1.0
261,Bell Gardens,44054,0.413,0.472,0.075,0.040,0.215663,0.666522,0.081855,0.035960,1.0
262,Vernon,94,0.447,0.415,0.106,0.032,0.242158,0.607976,0.120021,0.029845,1.0
263,Watts,36815,0.456,0.420,0.072,0.052,0.248936,0.620040,0.082152,0.048872,1.0

In [442]:
#Prepare the dataframe for interpolating the percent of *age category* infected per each place.
#Add the cases for each city to the combinedHoodDF dataframe. Take data from the hoodCOVID19DF dataframe. 
#Find the combinedHoodDF's place's corresponding row in the COVID19DF. If the array of the indices is not empty, 
#Add the Cases entry to the corresponding row in the combinedHoodDF.

#Note: Takes first matching element, second one is probably from what was "Unincorporated [placename]" before cleaning

#Makes a 'Cases' column of zeroes for the combinedHoodDF 
zeroes = []
for i in range(0,len(combinedHoodDF)):
    zeroes.append(0)
combinedHoodDF['Cases'] = zeroes

#Adds the 'Cases' for each place when it is known. Adds 'NA' if Cases are unknown
for i in range(0,len(combinedHoodDF)):
    #Finds the corresponding row in the COVID19 data for a place
    correspondingRow = (hoodCOVID19DF[hoodCOVID19DF['place_ID']==combinedHoodDF['Place'][i]].index.values)
    #If there is COVID data for a place, add the Cases to the combined DF
    if correspondingRow.size > 0: 
        combinedHoodDF['Cases'][i] = hoodCOVID19DF['cumulative_cases_today'][correspondingRow[0]]
    #If there is no COVID data for a place, make a really big number for the Cases in the combined DF
    else: 
        combinedHoodDF['Cases'][i] = np.nan
        
combinedHoodDF

C:\Users\dylan\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dylan\anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dylan\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,Place,TotalPopulation,pop18OrLess,pop19To49,pop50To64,pop65AndUp,casePrcnt_18OrLess,casePrcnt_19To49,casePrcnt_50To64,casePrcnt_65AndUp,sumOfPlaceCasePercents,Cases
0,Rolling Hills,3218,0.255,0.306,0.236,0.204,0.132332,0.429433,0.255976,0.182259,1.0,12.0
1,Palos Verdes Estates,13340,0.246,0.313,0.240,0.201,0.126798,0.436285,0.258553,0.178364,1.0,116.0
2,Bel-Air,7691,0.196,0.367,0.228,0.209,0.096799,0.490150,0.235348,0.177703,1.0,NaN
3,Bradbury,1268,0.231,0.331,0.191,0.248,0.118324,0.458496,0.204482,0.218698,1.0,22.0
4,Century City,5513,0.123,0.432,0.181,0.264,0.057908,0.550006,0.178105,0.213980,1.0,157.0
...,...,...,...,...,...,...,...,...,...,...,...,...
259,Central-Alameda,40947,0.416,0.474,0.066,0.044,0.217629,0.670577,0.072165,0.039629,1.0,NaN
260,Florence-Firestone,60154,0.418,0.459,0.073,0.049,0.220443,0.654605,0.080464,0.044489,1.0,NaN
261,Bell Gardens,44054,0.413,0.472,0.075,0.040,0.215663,0.666522,0.081855,0.035960,1.0,2346.0
262,Vernon,94,0.447,0.415,0.106,0.032,0.242158,0.607976,0.120021,0.029845,1.0,16.0
263,Watts,36815,0.456,0.420,0.072,0.052,0.248936,0.620040,0.082152,0.048872,1.0,2219.0

## Rina's comments

- %ofxxtoxxPopInfected is not correct.
- For example, for of18OrLessInfected, all 3 variables used in the calculation, are purely from community level.
- combinedHoodDF['pop18OrLess'] is just the percent of people who are under 18, combinedHoodDF['Cases'] divided by combinedHoodDF['TotalPopulation'] simply gets you the percentage of people infected in that community.
- So multiplying the percentage of people under 18 with percentage of people infected in that community won't let us know the percentage of people who are both "1)under 18 years old and 2) infected", at the same time.

In [444]:
#Declaring variables
of18OrLessInfected = []
of19to49Infected = []
of50to64Infected = []
of65andUpInfected = []


#Interpolate/estimate the percent of an Age Category that is infected per each Place (estimated percent of cases which are in age category 'i' * # cases / population)
for i in range(0,len(combinedHoodDF)):
    #If the number of cases are known for a place, estimate the percent of an Age Category that is infected
    if combinedHoodDF['Cases'] is not np.nan:
        of18OrLessInfected.append(combinedHoodDF['pop18OrLess'][i]*(combinedHoodDF['Cases'][i]/combinedHoodDF['TotalPopulation'][i]))  
        of19to49Infected.append(combinedHoodDF['pop19To49'][i]*combinedHoodDF['Cases'][i]/combinedHoodDF['TotalPopulation'][i])
        of50to64Infected.append(combinedHoodDF['pop50To64'][i]*combinedHoodDF['Cases'][i]/combinedHoodDF['TotalPopulation'][i])
        of65andUpInfected.append(combinedHoodDF['pop65AndUp'][i]*combinedHoodDF['Cases'][i]/combinedHoodDF['TotalPopulation'][i])
    #If the number of cases is not known, assign 'not a number'
    else:
        of18OrLessInfected.append(np.nan)  
        of19to49Infected.append(np.nan)
        of50to64Infected.append(np.nan)
        of65andUpInfected.append(np.nan)

#Just assigns the arrays to the dataframe
combinedHoodDF['%Of18orLessPopInfected'] = of18OrLessInfected  
combinedHoodDF['%Of19to49PopInfected'] = of19to49Infected
combinedHoodDF['%Of50to64PopInfected'] = of50to64Infected
combinedHoodDF['%Of65andUpPopInfected'] = of65andUpInfected

combinedHoodDF

,Place,TotalPopulation,pop18OrLess,pop19To49,pop50To64,pop65AndUp,casePrcnt_18OrLess,casePrcnt_19To49,casePrcnt_50To64,casePrcnt_65AndUp,sumOfPlaceCasePercents,Cases,%Of18orLessPopInfected,%Of19to49PopInfected,%Of50to64PopInfected,%Of65andUpPopInfected
0,Rolling Hills,3218,0.255,0.306,0.236,0.204,0.132332,0.429433,0.255976,0.182259,1.0,12.0,0.000951,0.001141,0.000880,0.000761
1,Palos Verdes Estates,13340,0.246,0.313,0.240,0.201,0.126798,0.436285,0.258553,0.178364,1.0,116.0,0.002139,0.002722,0.002087,0.001748
2,Bel-Air,7691,0.196,0.367,0.228,0.209,0.096799,0.490150,0.235348,0.177703,1.0,NaN,NaN,NaN,NaN,NaN
3,Bradbury,1268,0.231,0.331,0.191,0.248,0.118324,0.458496,0.204482,0.218698,1.0,22.0,0.004008,0.005743,0.003314,0.004303
4,Century City,5513,0.123,0.432,0.181,0.264,0.057908,0.550006,0.178105,0.213980,1.0,157.0,0.003503,0.012303,0.005155,0.007518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Central-Alameda,40947,0.416,0.474,0.066,0.044,0.217629,0.670577,0.072165,0.039629,1.0,NaN,NaN,NaN,NaN,NaN
260,Florence-Firestone,60154,0.418,0.459,0.073,0.049,0.220443,0.654605,0.080464,0.044489,1.0,NaN,NaN,NaN,NaN,NaN
261,Bell Gardens,44054,0.413,0.472,0.075,0.040,0.215663,0.666522,0.081855,0.035960,1.0,2346.0,0.021993,0.025135,0.003994,0.002130
262,Vernon,94,0.447,0.415,0.106,0.032,0.242158,0.607976,0.120021,0.029845,1.0,16.0,0.076085,0.070638,0.018043,0.005447
263,Watts,36815,0.456,0.420,0.072,0.052,0.248936,0.620040,0.082152,0.048872,1.0,2219.0,0.027485,0.025315,0.004340,0.003134